*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
coreui-free-bootstrap-admin-template-v5.5.0-dist.zip
# Backups de bases de datos
*.sql
*.dump
*.backup
*.bak

# Archivos temporales / copias de desarrollo
*_actual.php
*.old.php
*.bak.php
*.old
*.bak

# Backups y archivos de prueba
sigefiv_backup*
# Archivos antiguos de desarrollo
*.old
*.bak